footer{
    display: flex;
    align-items: center;
    height: 513px;
    justify-content: center;
    text-align: center;
    h1{
        margin-bottom: 50px;
       
        color: rgb(252, 174, 97);
        b{
            color: rgb(255, 255, 255);
        }
        &:hover{
            cursor: pointer;
        }
    }
    a{
        color: white;
    }
    .nav{
        justify-content: center;
        margin-bottom: 50px;
    }
    .author{
        p{
            color: rgb(53, 62, 84);
        }
    }
    
    
}